<div class="control-group">
   <div class="controls form-inline">
       <label class="control-label">{{ _('Sensor enabled:') }} <span data-bind="text: getSensorEnabledString()"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Detection mode:') }} <span data-bind="text: getDetectionMethodString()"></span></label>
    </div>
   <div class="controls form-inline">
       <label class="control-label">{{ _('Filament is moving:') }} <span data-bind="text: isFilamentMoving"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Remaining distance:') }} <span data-bind="text: remainingDistance"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Last motion detected:') }} <span data-bind="text: lastMotionDetected"></span></label>
   </div>
</div>
<div class="btn-group">
   <button class="btn btn-small" data-bind="click: function() { startConnectionTest(); }" title="{{ _('Start sensor connection test')|edq }}">Start Test</button>
   <button class="btn btn-small" data-bind="click: function() { stopConnectionTest(); }" title="{{ _('Stop sensor connection test')|edq }}">Stop Test</button>
   <!--<button class="btn btn-small" data-bind="click: function() { plugins.addFilter('3rdparty') }, css: {active: _.contains(plugins.currentFilters(), '3rdparty')}" title="{{ _('Show only third-party plugins')|edq }}">{{ _('3rd party') }}</button>-->
</div>