<div class="control-group">
   <div class="controls form-inline">
       <label class="control-label">{{ _('Sensor enabled:') }} <span data-bind="text: getSensorEnabledString()"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Detection mode:') }} <span data-bind="text: getDetectionMethodString()"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Remaining distance:') }} <span data-bind="text: remainingDistance"></span></label>
    </div>
    <div class="controls form-inline">
       <label class="control-label">{{ _('Last motion detected:') }} <span data-bind="text: lastMotionDetected"></span></label>
   </div>
</div>